.admin-header{
  background:#EDEDED;
  padding:30px;
  margin-bottom:25px
}

table.spam-stats {
  margin-bottom: 1.5em;
}

table.akismet-queue {
  td {
    vertical-align: top;
  }
  .post-link {
    float: right;
  }
  .queue-actions {
    margin-bottom: 1em;
    button {
      margin-right: 0.5em;
    }
  }
  .cooked {
    img {
      max-width: 200px !important;
      max-height: 100px !important;
    }
  }

}

h3.review-queue {
  margin: 1em 0 1em 0.5em;
}

.settings-button {
  margin-right: 10px;
}
